@font-face {
    font-family: 'Aquire';
    font-style: normal;
    font-weight: 400;
    src: local('Aquire'), url('https://fonts.cdnfonts.com/s/35282/Aquire-BW0ox.woff') format('woff');
}
@font-face {
    font-family: 'Aquire';
    font-style: normal;
    font-weight: 300;
    src: local('Aquire'), url('https://fonts.cdnfonts.com/s/35282/AquireLight-YzE0o.woff') format('woff');
}
@font-face {
    font-family: 'Aquire';
    font-style: normal;
    font-weight: 700;
    src: local('Aquire'), url('https://fonts.cdnfonts.com/s/35282/AquireBold-8Ma60.woff') format('woff');
}